<%# show movie title associated with bookmark %>

<%# i need to show my all bookmarks associated with the right list and movie  %>
<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li><%= bookmark.comment %></li>
  <% end %>
</ul>

<%= link_to "Back to my list", lists_path %>
<%= link_to "Add new bookmark", new_list_bookmark_path(@list) %>
